service: authorization-service
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name
frameworkVersion: '3'

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs14.x
  region: eu-west-1
  stage: dev
  # httpApi:
  #   cors: true
  iam:
    role:
      statements:
      # TODO
functions:
  basicAuthorizer:
    handler: handlers/basicAuthorizer.handler
    # TODO

